$white: #fff !default;
$black:  #1a2733 !default;
$darker-grey: #1c2b38 !default;

$primary-blue: #2578db !default;
$primary-green: #b3d40e !default;

$secondary-blue: #1db5f2 !default;
$dark-blue: #0a468f !default;

$lightest-grey: #f3f4f5 !default;
$lighter-grey: #e8eaeb !default;
$light-grey: #c3c6ca !default;
$light-dark-grey: #d2d5d7 !default;
$dark-grey: #5e5e5e !default;
$middle-grey: rgba($darker-grey, 0.5) !default;

$error: #bb0f00 !default;