*,
*:after,
*:before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}


header,
footer { 
	.container {
		max-width: 1400px;
	}
}

// Set a sicky footer
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .wrapper {
    flex-grow: 1; 
    padding-top: 10rem;
  }
}

.wrapper {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

main > header > .container,
main > section > .container,
main > article > .container,
main > footer > .container {
  max-width: 1400px;
}

main > section {
  padding: 7.5rem 0;
}

button,
input {
  outline: none;
}

svg, svg g, svg g path {
  transition: all 200ms;
}

// For controlling Modal open/close behaviour
// Stops padding add and re-adds the scrollbar
.modal-open {
  padding-right: 0 !important;
  overflow: visible;
}

.grecaptcha-badge {
	visibility: hidden;
}
