#site-header {
  position: absolute;
  top: 0;
  width: 100%;
  align-self: center;
  border: 1px solid red;
  nav {
    .navbar-brand {
      img {
        
      }
    }
    button.navbar-toggler {
      
    }
    div#primary-menu {
      ul {
        flex-grow: 1;
        li {
          &:last-of-type {
            margin-left: auto;
          }
          a {

          }
        }
      }
    }
  }
}