#LogInModal, #PasswordModal {
  z-index: 99999;
  overflow: scroll;
  button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    transition: all 200ms;
    span {
      svg {
        width: 2rem;
        height: 2rem;
      }
    }
  }
  .modal-dialog {
    max-width: 90%;
    padding-left: 8px;
    margin: 1rem auto;
    .modal-content {
      padding: 7.5rem 10rem;
      background-color: $lightest-grey;
      border-radius: 0;
      border: none;
      p.h5 {
        margin: 2rem 0;
      }
      div.introduction {
        display: flex;
        padding-bottom: 2rem;
        border-bottom: 1px solid #a4aaaf;
        h2.h1 {
          display: inline-block;
        }
        span.sign-up-cta {
          color: $middle-grey;
          display: inline-block;
          margin-left: auto;
          align-self: flex-end;
          a {
            cursor: pointer;
            color: $primary-blue;
          }
        }
      }
      form {
        background-color: $white;
        padding: 2rem;
        border-radius: 8px;
        span.error {
          margin: 0 0 1rem 0;
          display: inline-block;
          color: $error;
        }
        div.login-username, div.login-password, div.password-forget {
          margin-bottom: 1rem;
          padding: 0 1rem;
          background-color: $lightest-grey;
          border-radius: 4px;
          border: 2px solid transparent;
          transition: all 200ms;
          label {
            width: 100%;
            color: $middle-grey;
          }
          input {
            width: 100%;
            border: none;
            font-size: 1.25rem;
            background-color: $lightest-grey;
          }
          &.focus {
            border-color: $primary-blue;
            background-color: $white;
            input {
              background-color: $white;
            }
          }
        }
        div.remember {
          margin-bottom: 2rem;
        }
        p.login-submit {
          a.forgot-password-cta-modal {
            cursor: pointer;
            &:hover, &:focus {
              color: $dark-blue;
            }
          }
        }
      }
    }
  }
  @include media-breakpoint-down(md) {
    .modal-dialog {
      .modal-content {
        padding: 5rem;
        div.introduction {
          padding-bottom: 1rem;
          flex-wrap: wrap;
          h2.h1 {
            font-size: 2.85rem;
          }
          span.sign-up-cta {
            font-size: 1rem;
          }
        }
      }
    }
  }
  @include media-breakpoint-down(sm) {
    &#LogInModal {
      .modal-dialog {
        margin: 0;
        padding-right: 0;
      }
    }
    button {
      transition: all 200ms;
      span {
        svg {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }
    .modal-dialog {
      max-width: 100%;
      padding-left: 0;
      .modal-content {
        padding: 2rem;
        div.introduction {
          padding-bottom: 1rem;
          flex-wrap: wrap;
          h2.h1 {
            font-size: 1.8rem;
          }
          span.sign-up-cta {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

#PasswordModal {
  .modal-dialog {
    max-width: 50%;
    .modal-content {
      padding: 3rem;
      div.introduction {
        flex-wrap: wrap;
        p.text {
          width: 100%;
          margin-top: 1rem;
        }
      }
      form {
        margin-top: 2rem;
        margin-bottom: 1rem;
        padding: 1rem;
        background-color: $white;
        border-radius: 4px;
      }
    }
  }
}


// #jobboard-modal-apply {
//   .md-content {
//     button {
//       position: absolute;
//       top: 1rem;
//       right: 1rem;
//       transition: all 200ms;
//       span {
//         svg {
//           width: 2rem;
//           height: 2rem;
//         }
//       }
//     }
//   }
// }