body.is-job {
  div.wrapper {
    padding-top: 8rem;
    @include media-breakpoint-down(sm) {
      padding-top: 10rem;
    }
    section#single-job-navigation {
      background-color: $lightest-grey;
      padding: 1rem 0;
      .container {
        display: flex;
        justify-content: space-between;
        a {
          transition-delay: 200ms;
          &:nth-of-type(2) {
            span {
              margin-left: 0.5rem;
            }
          }
          &:nth-of-type(1) {
            span {
              margin-right: 0.5rem;
              svg {
                transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
              }
            }
          }
          &:hover, &:focus {
            span {
              svg {
                g {
                  stroke: $dark-blue;
                }
              }
            }
          }
        }
      }
    }
  
  
    section#title {
      background-color: $primary-blue;
      .container {
        color: $white;
        display: flex;
        flex-wrap: wrap;
        h1 {
          color: $white;
        }
        p.posttime {
          margin-left: auto;
          align-self: flex-end;
          color: rgba($white, 0.5);
        }
        hr {
          border-color: $white;
          width: 100%;
          margin: 1.5rem 0 1rem;
        }
        p.salary {
          margin-right: 5rem; 
        }
        p.location {

        }
        p.job-id {
          margin-left: auto;
        }
      }
      @include media-breakpoint-down(sm) {
        .container {
          h1 {
            width: 100%;
          }
          p.posttime {
            margin: 0;
          }
        }
      }
    }
 

    section#job-ctas {
      padding: 0;
      .container {
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: flex;
        p.bookmark {
          align-self: center;
          display: flex;
          button {
            padding: 0;
            align-self: flex-start;
            margin-right: 0.9rem;
          }
        }
        div.break {
          border-right: 2px solid $lighter-grey;
          margin: 0 1.25rem;
        }
        p.share {
          display: flex;
          align-self: center;
          a.social {
            margin: 0 0.4rem;
            svg {
              margin-bottom: 0.2rem;
            }
            &:hover, &:focus {
             svg {
               path {
                 fill: $primary-blue;
               }
             }
            }
          }
        }
        button.cta-blue {
          flex-grow: 0;
          margin: 0 0 0 auto;
        }
      }
      @include media-breakpoint-down(sm) {
        .container {
          flex-direction: column;
          text-align: center;
          p.bookmark {
            margin-right: 1rem;
            order: 2;
          }
          div.break {
            display: none;
          }
          p.share {
            order: 1;
            margin: 1.5rem 0 0.5rem;
          }
          button.cta-blue {
            order: 0;
            margin: 0 auto;
          }
        }
      }
    }
  
  
    section#single-job-content {
      .container {
  
      }
    }
  }
}