body.job-listing-classic {
  .wrapper {
    .container {
      .row {
        .search-field {
          .widget-content {
            form {
              margin: 3rem 0 4rem;
              div {
                display: flex;
                border-radius: 48px;
                background-color: $lightest-grey;
                img {
                  width: 2rem;
                  height: 2rem;
                  align-self: center;
                  margin-left: 1.5rem;
                }
                input[type="search"] {
                  flex: 1 1 100%;
                  border: none;
                  padding: 1rem;
                  background-color: $lightest-grey;
                  font-size: 1.5rem;
                  border-radius: 48px;
                }
                input[type="submit"] {
                  font-family: $tkusualrg;
                  align-self: center;
                }
              }
            }
          }
        }
        #sidebar {
          #widget-area {
            border-radius: 1rem;
            background-color: $lightest-grey;
            padding: 1rem;
            aside {
              margin-bottom: 0.5rem;
              padding: 0.5rem;
              border-radius: 8px;
              background-color: $white;
              font-size: 0.875rem;
              &:last-of-type {
                margin-bottom: 0;
              }
              h3 {
                font-size: 0.875rem;
                display: flex;
                i {
                  margin-left: auto;
                  font-size: 1rem;
                }
              }
              .wg-content {
                ul {
                  border-top: 1px solid $lighter-grey;
                  padding-top: 0.5rem;
                  margin-top: 0.5rem;
                  li {
                    display: flex;
                    input {
                      align-self: center;
                      margin-right: 0.75rem;
                    }
                    label {
                      margin-right: auto;
                    }
                  }
                }
              }
            }
          }
        }
        #content {
          .jobboard-archive-actions {
            display: none;
          }
          .jb-jobs-body {
            section {
              article {
                .row {
                  padding: 1.65rem 0 1.65rem 1rem;
                  border: none;
                  border-bottom: 2px solid $lighter-grey;
                  border-bottom-style: dotted;
                  .loop-summary {
                    flex: 1 1 auto;
                    padding: 0;
                    order: 1;
                    .loop-locations {
                      margin-top: 0.75rem;
                    }
                    .loop-title {
                      display: flex;
                      span.posted-time {
                        margin-left: auto;
                        color: $middle-grey;
                      }
                    }
                    .loop-locations, .loop-title {
                      a {
                        color: $black;
                        &:hover {
                          color: $dark-blue;
                        }
                      }
                    }
                  }
                  .job-price {
                    display: none;
                  }
                  .loop-actions {
                    display: inline-block;
                    max-width: none;
                    flex: 0 1 2rem;
                    order: 0;
                    max-width: none;
                    padding: 0;
                    button, a.basket-added {
                      padding: 0;
                      svg {
                        width: 0.875rem;
                        height: 1rem;
                      }
                    }
                    button.basket-added, a.basket-added {
                      opacity: 1;
                      svg {
                        path {
                          fill: $primary-blue;
                        }
                      }
                    }
                    a.job-more {
                      display: none;
                    }
                  }
                  .job-meta-tags {
                    margin-top: 1rem;
                    margin-left: 2rem;
                    order: 3;
                    width: 100%;
                    .job-meta {
                      padding: 0.3rem 0.5rem;
                      border-radius: 2px;
                      font-size: 0.75rem;
                      &.specialism {
                        background-color: $black;
                        color: $white;
                      }
                      &.types {
                        border: 1px solid $lighter-grey;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
